<!-- <link rel="stylesheet" href="/style.css">



<div class="terms-condition ">
    <div class="condition">
        <a href="/listing"> <h3>&copy; 2024 Airbnb,Inc.</h3></a>
        <a href="https://www.airbnb.co.in/help/article/2855"><h3> Privacy</h3> </a>
        <a href="https://www.airbnb.co.in/help/article/2908"><h3> Terms</h3> </a>
        <a href="https://www.airbnb.co.in/sitemaps/v2"><h3> Sitemap</h3> </a>
        <a href="https://www.airbnb.co.in/about/company-details"><h3> Company Details</h3> </a>
    </div>


        
    <div class="currency">

        <h3><i class="fa-solid fa-globe"></i> <span>English(IN)</span></h3>
        <h3>&#8377; INR </h3>

        <div class="social">
            <a href="https://www.facebook.com/AirbnbIndia"><i class="fa-brands fa-square-facebook"></i> </a>
            <a href="https://twitter.com/airbnb_in"><i class="fa-brands fa-x-twitter"></i> </a>
                
            <a href="https://www.instagram.com/airbnb"><i class="fa-brands fa-instagram"></i> </a>

        </div>
      
    </div>


</div> -->
